/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 25 de jun de 2022, 11:37:33
    Author     : Érico
*/

body{
    
    background: #f7f7f7;
    font-family: verdana;
    margin-left:auto;
    margin-right: auto; 
    padding: 20px;
    max-width: 900px;
    background-image: url("image/sp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
.image{
    
    border-radius: 50%;
   
}
#titulo , #tituloPostagem , .subtitulo{
    
 color:#000;   
    
}

#titulo{
    
    font-size: 40px;
    text-transform: uppercase;
    
}

#tituloPostagem{
    
   font-size: 16px; 
   font-style: italic; 
   margin: 0;
   margin-bottom:15px;
   
}


.postagem{
    
    background: #FFF;
    padding: 15px;
    border: 2px solid red;
    margin-bottom: 15px;
    border-radius:10px;
    text-align: justify;
}

.paragrafo1{
    
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
         
}

a{
    
    text-decoration:line-through;
    color:#505050;
}

.listaConteudo{
    list-style-type: none;
    padding-left: 15px;
    
}

.listaConteudo li a{
    
   text-decoration: none;
   color:#000;
}

.morumbiImage{
    
 width: 100%;
 border-radius:10px;  
}

.cabeca{
    
   background:#fff; 
   color:white; 
   border-radius:10px;
   padding-left:  10px;
   padding-top:5px;
   border:2px solid red;
   text-align: center;
}

footer{
    
    background:#fff;
    border-radius:10px;
    border:2px solid red;
    background-image:url("image/tacas.jpg");
    background-repeat: no-repeat;
    background-position: right;
  
}

.subtitulo{
    
    color:#000;
    padding-left:15px;
}

