/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 25 de jun de 2022, 11:37:33
    Author     : Érico
*/

body{
    
    background: #f7f7f7;
    font-family: verdana;
}
.image{
    
    border-radius: 50%;
    border:1px solid #050505;
}
#titulo , #tituloPostagem , .subtitulo{
    
 color:#505050;   
    
}

#titulo{
    
    font-size: 40px;
    text-transform: uppercase;
}

#tituloPostagem{
    
   font-size: 16px; 
   font-style: italic; 
   margin: 0;
   margin-bottom:15px;  
}


.postagem{
    
    background: #FFF;
    padding: 15px;
    border: 2px solid #505050;
    margin-bottom: 15px;
    border-radius:10px; 
}

.paragrafo1{
    
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
         
}

a{
    
    text-decoration:line-through;
    color:#505050;
}

.listaConteudo{
    list-style-type: none;
    padding-left: 15px;
    
}

.listaConteudo li a{
    
   text-decoration: none; 
}